.featureHeadTitle{
  position: absolute;
  top: 30%;
  margin-left: 40%;
}
.featureHeadBody{
  position: absolute;
  top: 40%;
  margin-left: 40%;
}
.feature{
  position: relative;
  height: auto;
  width: auto;
}
